{% load static %}
{% load i18n  %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

  <title> Diet Bistro </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

</head>

<style>
.language a {
    color: #001E40;
    background-color:white;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 2s;
}
.language a:hover {
    color: white;
    background: black;
    box-shadow: 2px 2px 5px black;
}

.heading_container h2{
      text-align: center;
       color: white;
    cursor: pointer;
    transition: 2s;

}
.navbar-brand{
    display: flex;
    gap: 350px;
}

.heading_container h2:hover{
      text-shadow: 2px 5px 15px black;

}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


.layout_padding {
  padding: 21px 0 !important;
}
</style>


<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">

        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Diet Bistro
            </span>
              <div class="heading_container heading_center">
                <h2>Menu</h2 >
              </div>
          </a>


            <style>
               .language {
                padding: 0; /* Убираем поля */
                margin-left: 395px; /* Отступ слева */
               }
            </style>




          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="user_option">
              <li class="language">
                <a href="http://127.0.0.1:8000/en/menu">en</a>
                <a href="http://127.0.0.1:8000/ru/menu">ru</a>
                <a href="http://127.0.0.1:8000/uz/menu">uz</a>
              </li>

            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- food section -->

  <section class="food_section layout_padding">
      <ul class="filters_menu">
          {% for i in category %}

              {% if i.id == 1 %}
                <li class="active" data-filter="*">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 2 %}
                <li data-filter=".first_meal">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 3 %}
                <li data-filter=".second_meal">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 4 %}
                <li data-filter=".garnirs">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 5 %}
                <li data-filter=".cotlets">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 6 %}
                <li data-filter=".bakery">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 7 %}
                <li data-filter=".salads">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 8 %}
                <li data-filter=".drinks">{{ i.title }}</li>
              {% endif %}

              {% if i.id == 9 %}
                <li data-filter=".bread">{{ i.title }}</li>
              {% endif %}


          {% endfor %}
      </ul>

      <div class="filters-content">
        <div class="row grid">
              {% for i in first_meal %}
          <div class="col-sm-6 col-lg-4 all first_meal">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ i.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                      {{ i.title }}
                  </h5>
                 <p style="padding-right: 30px; word-break: break-all">
                      {{ i.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ i.price }}
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
              {% endfor %}

              {% for a in second_meal %}
          <div class="col-sm-6 col-lg-4 all second_meal">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ a.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                      {{ a.title }}
                  </h5>
                  <p style="padding-right: 30px; word-break: break-all">
                      {{ a.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ a.price }}
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             {% endfor %}

             {% for b in garnirs %}
          <div class="col-sm-6 col-lg-4 all garnirs">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ b.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                      {{ b.title }}
                  </h5>
                  <p style="padding-right: 30px; word-break: break-all">
                    {{ b.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ b.price }}
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             {% endfor %}

             {% for c in cotlets %}
          <div class="col-sm-6 col-lg-4 all cotlets">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ c.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{ c.title }}
                  </h5>
                  <p style="padding-right: 30px; word-break: break-all">
                      {{ c.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ c.price }}
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             {% endfor %}

             {% for d in bakery %}
          <div class="col-sm-6 col-lg-4 all bakery">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ d.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                      {{ d.title }}
                  </h5>
                  <p style="padding-right: 30px; word-break: break-all">
                      {{ d.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ d.price }}
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             {% endfor %}

             {% for e in salads %}
          <div class="col-sm-6 col-lg-4 all salads">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ e.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{ e.title }}
                  </h5>
                  <p style="padding-right: 30px; word-break: break-all">
                      {{ e.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ e.price }}
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             {% endfor %}

             {% for f in drinks %}
          <div class="col-sm-6 col-lg-4 all drinks">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ f.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                      {{ f.title}}
                  </h5>
                  <p style="padding-right: 30px; word-break: break-all">
                      {{ f.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ f.price }}
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             {% endfor %}

             {% for g in bread %}
          <div class="col-sm-6 col-lg-4 all bread">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ g.imageURL }}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                      {{ g.title }}
                  </h5>
                  <p style="padding-right: 30px; word-break: break-all">
                      {{ g.description }}
                  </p>
                  <div class="options">
                    <h6>
                        {{ g.price }} so'm
                    </h6>
                        <g>
                          <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             {% endfor %}


        </div>
      </div>




<style>
    .list-pages {
	text-align: center;
	margin: 0 0 20px 0;

}
    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
}
    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;

}
    .list-pages a {
        color: #000;
        font-size: 24px;
        text-decoration: none;

}
    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        padding:10px 21px;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
        cursor:pointer;
        transition:all 0.3s linear;
}
    .list-pages .page-num:hover {
        background:grey;
}
    .list-pages .border-radius-selected {
        border: none;
        color: #000;
        font-size: 20px;
}
    .list-pages .page-num-selected:hover {
        box-shadow: none;
}
    .icon{
        display: flex;
        gap: 20px;
        justify-content: center;
        cursor: pointer;
        transition: 2s;
    }
    .icon i:hover{
        transform: rotate(90deg);
    }
</style>



{##}
{#<nav class="list-pages">#}
{#<ul>#}
{#    {% for p in page_obj.paginator.page_range %}#}
{#        {% if page_obj.number == p %}#}
{#        <li class="page-num page-num-selected">{{ p }}</li>#}
{#        {% else %}#}
{#        <li class="page-num">#}
{#            <a class="pageA" href="?page={{ p }}">{{ p }}</a>#}
{#        </li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</ul>#}
{#</nav>#}
    </div>
  </section>

  <!-- end food section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Bog'lanish
            </h4>
            <div class="contact_link_box">
                <div class="icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>
              Metro Novza
            </span>
                </div>

<div class="icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
                +998 71 277 2141
            </span>
</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Diet Bistro
            </a>
            <p>
              Biz 2008 yildan beri o'z faoliyatmizni olib boramiz, 14 yillik tajribali oshpazlarimiz sizlarga mazali toamlar tayyorlashadi.
            </p>

          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Ish vaqti
          </h4>
          <p>
            Har kuni
          </p>
          <p>
            7:00 - 21:00
          </p>
        </div>
      </div>

    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>